<div class='container'>
    <h1>NPR Web Scraper</h1>

    <button class='btn btn-danger' id="scrape">Scrape more articles</button>
    <button class='btn btn-primary' id="show-notes">Show notes</button>
    <div id='articles'>
        {{#each articles}}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{snippet}}</p>
                <a href={{link}} class="btn btn-primary">Check it out</a>
                <form>
                    <div class="form-group">
                        <label for={{id}}>User Notes:</label>
                        <textarea class="form-control user-note" id= {{id}} rows="3"></textarea>
                    </div>
                    <button class='btn btn-primary add-note' data-num={{id}}>Save Note</button>
                </form>
            </div>
        </div>
        {{/each}}
    </div>

</div>